<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detailseite zum Kurs: <%= kurs.name %>
  </title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" href="css/flexbox.css" />
</head>

<body>
  <div id="top_content__container">
    <header>
      <img class="logo" src="img/logo.png" alt="Aktuell ist kein Bild zu erzeugen">
      <h1>Detailseite zum Kurs: <%= kurs.name %>
      </h1>
    </header>
    <%- include('navbereich') %>
  </div>

  <div id="main_content___container">
    <main>
      <% debugger; %>
        <h2>
          <%= kurs.name %>
        </h2>
        <section>
          <h3 id="bi_section">Basisinformationen zum Kurs:</h3>
          <ul>
            <li><span class="fett">Modul-ID:</span>
              <%= kurs.modulid %>
            </li>
            <li><span class="fett">Typ:</span>
              <%= kurs.typ %>
            </li>
            <li><span class="fett">Studiengang:</span>
              <%= kurs.studiengang %>
            </li>
            <li><span class="fett">Semester:</span>
              <%= kurs.semester %>
            </li>
            <li><span class="fett">Gruppenbuchstabe:</span>
              <%= kurs.gruppenbuchstabe %>
            </li>
          </ul>
        </section>

        <section>
          <h3>Lehrperson:</h3>
          <ul>
            <li><span class="fett">ID:</span>
              <%= kurs.lehrperson.id %>
            </li>
            <li><span class="fett">Nachname:</span>
              <%= kurs.lehrperson.nachname %>
            </li>
          </ul>
        </section>

        <section>
          <h3>Termin:</h3>
          <ul>
            <li><span class="fett">Wochentag:</span>
              <%= kurs.termin.wochentag %>
            </li>
            <li><span class="fett">Stunde:</span>
              <%= kurs.termin.beginn %>. Stunde
            </li>
            <li><span class="fett">Dauer:</span>
              <%= kurs.termin.dauer %> stunden
            </li>
            <li><span class="fett">Raum:</span>
              <%= kurs.termin.raum %>
            </li>
          </ul>
        </section>
    </main>
    <%- include('aktMeldbereich') %>
  </div>
  <%- include('fußbereich') %>
</body>

</html>